<section>
  <div class="bg-container">
    <div class="cards-wrapper">

      <a routerLink="/municipio/tipo_turismo"
         class="card-link card-turismo"
         aria-label="Tipo de Turismo">
        <div class="icon-box">
          <i class="bi bi-map"></i>
        </div>
        <span>Tipo de Turismo</span>
      </a>

      <a routerLink="/atrativo/aeroportos"
         class="card-link card-chegada"
         aria-label="Como eu chego">
        <div class="icon-box">
          <i class="bi bi-signpost-2"></i>
        </div>
        <span>Como eu chego?</span>
      </a>

    </div>
  </div>
</section>
