<section>
  <div class="bg-container">
    <div class="container">
      <div class="row g-3">
        <!-- Coluna 1 -->
        <div class="col-12 col-md-6">
          <a href="https://fortaleza-airport.com.br/pt/" target="_blank" class="card-link card-aeroporto w-100" aria-label="Aeroportos">
            <i class="bi bi-airplane me-2"></i>
             Aeroportos
          </a>
        </div>
        <div class="col-12 col-md-6">
          <a href="https://www.uber.com/br/pt-br/" target="_blank" class="card-link card-uber w-100" aria-label="Uber">
            <i class="fa-brands fa-uber me-2"></i>
             Uber
          </a>
        </div>

        <!-- Coluna 2 -->
        <div class="col-12 col-md-6">
          <a href="https://www.rodoviariafortaleza.com/" target="_blank" class="card-link card-bus w-100" aria-label="Rodoviária">
            <i class="fa-solid fa-bus me-2"></i>
             Rodoviária
          </a>
        </div>
        <div class="col-12 col-md-6">
          <a href="https://radiotaxifortaleza.com.br/" target="_blank" class="card-link card-taxi w-100" aria-label="Táxi">
            <i class="fa-solid fa-taxi me-2"></i>
            Frota de Táxi
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
