.body {
  background: url("../../../assets/midia/imgs/background_01.jpg") no-repeat center center;
  font-family: Arial, sans-serif;
  padding-top: 3rem;
}

.tempnomad {
  padding: 3rem 5%;
}

.tempnomad-text h1 {
  font-size: 2.5rem;
  color: #009688;
  margin-bottom: 15px;
  padding-top: 15px;
  position: relative;
}

.tempnomad-text h1::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 120px;
  height: 4px;
  background: #fbc02d;
}

.tempnomad-text span {
  margin: 0.8rem 0 0 0;
  font-size: 1.0rem;
  font-weight: 600;
  color: #009688;
}

.tempnomad-text h2 {
  margin: 1.3rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #009688;
}

.filter-buttons .btn {
  border-radius: 30px;
  padding: 0.6rem 1.5rem;
  margin: 0.4rem;
  border: 2px solid #2e7d32; /* verde */
  font-weight: 500;
  background-color: #fff; /* branco */
  color: #2e7d32; /* verde */
  transition: all 0.3s ease;
}

/* Hover */
.filter-buttons .btn:hover {
  background-color: #fff59d; /* amarelo claro */
  border-color: #fdd835; /* amarelo forte */
  color: #1b5e20; /* verde mais escuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Active (selecionado) */
.filter-buttons .btn-check:checked + .btn,
.filter-buttons .btn.active {
  background-color: #2e7d32; /* verde */
  border-color: #1b5e20; /* verde escuro */
  color: #fff; /* branco */
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn-active {
  background-color: #f9cfc7;
}

.img-sideright img {
  border-radius: 15px;
}

.events-section {
  background-color: #fffaf198;
  padding: 2rem 5%;
}

.events-section h3 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-event img {
  height: 220px;     /* altura fixa */
  object-fit: cover; /* mantém proporção */
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-event {
  border-radius: 0.5rem;
  overflow: hidden;
}
