<section class="ver-talentos d-flex align-items-center">
  <div class="container my-3">
    <h1 class="text-center mb-4 text-uppercase">Talento Nomads</h1>

    <div class="row justify-content-center g-4">

      <!-- Lista centralizada -->
      <div class="col-12 col-md-10 col-lg-8">
        <div class="table-container text-center">
          <h4 class="mb-3 text-success fw-bold">
            Veja os talentos que podem agregar para o seu negócio
          </h4>

          <div *ngIf="has_nomads; else semNomads" class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Profissão</th>
                  <th>Email</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let nomad of lista_nomad">
                  <td>{{ nomad.name }} {{ nomad.lastName }}</td>
                  <td>{{ nomad.profissao }}</td>
                  <td>{{ nomad.nomad_email }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <ng-template #semNomads>
            <div class="text-center text-muted py-4">
              <img
                src="https://cdn-icons-png.flaticon.com/512/4076/4076500.png"
                width="80"
                class="mb-3 opacity-75"
                alt="Sem dados"
              />
              <p>Nenhum Nomad cadastrado.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
