<section class="layout reverse">
    <div class="info-img"></div>
    <div class="perfil-text">
      <h2>Aproveite essa oportunidade de trabalhar no seu ritmo, no seu espaço e no seu estilo</h2>
      <div class="cards">
        <div class="card" (click)="verTalento()">
          <i class="fa-solid fa-person-walking"></i>
          <p>Lançamentos de Novos Talentos</p>
        </div>
        <div class="card" (click)="cadastrarVaga()">
          <i class="fa-solid fa-briefcase"></i>
          <p>Empresas buscando Talentos</p>
        </div>
      </div>
    </div>
  </section>
