<section class="gastronomia-section container-fluid">
    <div class="row align-items-center">
      <!-- Texto + Imagem à esquerda -->
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <h1 class="title mb-4">GASTRONOMIA</h1>
        <div class="left-image">
          <img src="../../../assets/midia/imgs/imagem_gastronomia.png" alt="Prato de comida">
        </div>
        <!-- <div class="arrow-btn mt-3">
          ➜
        </div> -->
      </div>

      <!-- Cards à direita -->
      <div class="col-md-8">
        <div class="row g-4">
          <div class="col-6 col-md-4">
            <a href="restaurantes.html" class="text-decoration-none text-dark">
              <div class="custom-card restaurantes">
                <div class="plus">+</div>
                <img src="../../../assets/midia/imgs/imagem_restaurante.png" alt="Restaurantes">
                Restaurantes
              </div>
            </a>
          </div>

          <div class="col-6 col-md-4">
            <a href="cafeterias.html" class="text-decoration-none text-dark">
              <div class="custom-card cafeterias">
                <div class="plus">+</div>
                <img src="../../../assets/midia/imgs/imagem_cafeteria.png" alt="Cafeterias">
                Cafeterias
              </div>
            </a>
          </div>

          <div class="col-6 col-md-4">
            <a href="shoppings.html" class="text-decoration-none text-white">
              <div class="custom-card shoppings">
                <div class="plus">+</div>
                <img src="../../../assets/midia/imgs/imagem_shopping.png" alt="Shoppings">
                Shoppings
              </div>
            </a>
          </div>

          <div class="col-6 col-md-4">
            <a href="lanchonetes.html" class="text-decoration-none text-white">
              <div class="custom-card lanchonetes">
                <div class="plus">+</div>
                <img src="../../../assets/midia/imgs/imagem_lanchonetes.png" alt="Lanchonetes">
                Lanchonetes
              </div>
            </a>
          </div>

          <div class="col-6 col-md-4">
            <a href="bares.html" class="text-decoration-none text-dark">
              <div class="custom-card bares">
                <div class="plus">+</div>
                <img src="../../../assets/midia/imgs/imagem_bares.png" alt="Bares">
                Bares
              </div>
            </a>
          </div>

          <div class="col-6 col-md-4">
            <a href="foodtruck.html" class="text-decoration-none text-dark">
              <div class="custom-card foodtruck">
                <div class="plus">+</div>
                <img src="../../../assets/midia/imgs/imagem_food_truck.png" alt="Food Truck">
                FoodTruck
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
