<section class="gastronomia-section container-fluid" *ngIf="view_type === 'gastronomia'">
    <div class="row align-items-center">
      <!-- Texto + Imagem à esquerda -->
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <h1 class="title mb-4">GASTRONOMIA</h1>
        <div class="left-image">
          <img src="../../../assets/midia/imgs/imagem_gastronomia.png" alt="Prato de comida">
        </div>
        <!-- <div class="arrow-btn mt-3">
          ➜
        </div> -->
      </div>

      <!-- Cards à direita -->
      <div class="col-md-8">
        <div class="row g-4">
          <div class="col-6 col-md-4">
            <span class="text-decoration-none text-dark">
              <div class="custom-card restaurantes">
                <img src="../../../assets/midia/imgs/imagem_restaurante.png" alt="Restaurantes" (click)="getParceiros('restaurantes')">
                Restaurantes
              </div>
            </span>
          </div>

          <div class="col-6 col-md-4">
            <span class="text-decoration-none text-dark">
              <div class="custom-card cafeterias">
                <img src="../../../assets/midia/imgs/imagem_cafeteria.png" alt="Cafeterias" (click)="getParceiros('cafeteria')">
                Cafeterias
              </div>
            </span>
          </div>

          <div class="col-6 col-md-4">
            <span class="text-decoration-none text-white">
              <div class="custom-card shoppings">
                <img src="../../../assets/midia/imgs/imagem_shopping.png" alt="Shoppings" (click)="getParceiros('shoppings')">
                Shoppings
              </div>
            </span>
          </div>

          <div class="col-6 col-md-4">
            <span class="text-decoration-none text-white">
              <div class="custom-card lanchonetes">
                <img src="../../../assets/midia/imgs/imagem_lanchonetes.png" alt="Lanchonetes" (click)="getParceiros('lanchonetes')">
                Lanchonetes
              </div>
            </span>
          </div>

          <div class="col-6 col-md-4">
            <span class="text-decoration-none text-dark">
              <div class="custom-card bares">
                <img src="../../../assets/midia/imgs/imagem_bares.png" alt="Bares" (click)="getParceiros('bares')">
                Bares
              </div>
            </span>
          </div>

          <div class="col-6 col-md-4">
            <span class="text-decoration-none text-dark">
              <div class="custom-card foodtruck">
                <img src="../../../assets/midia/imgs/imagem_food_truck.png" alt="Food Truck" (click)="getParceiros('food_truck')">
                FoodTruck
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hospd-section" *ngIf="view_type != 'gastronomia'">
  <div class="container">
    <h1 class="hospd-title text-uppercase text-center">Coworking Parceiros</h1>

    <!-- Carousel -->
    <div id="hospdCarousel" class="carousel slide mt-3" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item" *ngFor="let grupo of lista_gastronomica; let i = index"
          [ngClass]="{ 'active': i === 0 }">
          <div class="row justify-content-center align-items-stretch">
            <div class="col-12 col-md-6 col-lg-4 d-flex" *ngFor="let gastronomia of grupo">
              <div class="hospd-card flex-fill d-flex flex-column">

                <!-- Círculo da logo -->
                <div class="hospd-icon">
                  <img *ngIf="gastronomia.logoUrl" [src]="gastronomia.logoUrl" alt="logo {{ gastronomia.nome_fantasia }}" />
                  <!-- <span *ngIf="!gastronomia.logoUrl" class="text-center">Logo não adicionada</span> -->
                </div>

                <!-- Nome e descrição -->
                <h6 class="fw-bold">{{ gastronomia.nome_fantasia }}</h6>
                <p class="description">{{ gastronomia.espacos_culturais }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Controles -->
      <button class="carousel-control-prev" type="button" data-bs-target="#hospdCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#hospdCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>

    <div class="hospd-icon-return text-start pt-4">
      <span>
        <img src="../../../assets/midia/icons/volte.png" alt="Retorno" (click)="return('gastronomia')">
      </span>
    </div>
  </div>
</section>
