<!-- Lista de Eventos -->
      <div *ngIf="!has_season" class="alert alert-info mt-3">
        <strong>Informação:</strong> Não há eventos cadastrados para esta temporada.
      </div>

      <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let temporada of lista_temporada">
        <img [src]="temporada.imagem" [alt]="temporada.nome_evento" [title]="temporada.nome_evento">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>{{temporada.nome_evento}}</h1>
            <p class="opacity-75">{{ temporada.local }}</p>
            <p class="badge text-bg-primary">{{ temporada.cidade }}</p>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let temporada of lista_temporada">
          <div class="card shadow-sm">
            <img class="card-img-top img-fixa" [src]="temporada.imagem" [alt]="temporada.nome_evento" [title]="temporada.nome_evento">
            <div class="card-body">
              <p class="card-text">{{ temporada.descricao }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">{{ temporada.data_evento | date:'dd/MM/yyyy' }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




