<div class="bg-container">
  <h1 class="titulo">Conheça o Ceará</h1>

  <div class="cards-grid">
    <a routerLink="/atrativo/informacoes" class="card-link card-info">
      <div class="icon-circle">
        <i class="bi bi-box"></i>
      </div>
      <span>Informações<br>Gerais</span>
    </a>

    <a routerLink="/atrativo/perfil" class="card-link card-perfil">
      <div class="plus-circle">+</div>
      <span>Perfil do Ceará</span>
    </a>

    <a routerLink="/atrativo/destino" class="card-link card-destino">
      <div class="plus-circle">+</div>
      <span>Destino Ceará</span>
    </a>
  </div>
</div>
