<section id="forms">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Texto inicial -->
        <div class="card card_manual mb-5 mt-5 manual">
          <div class="card-body">
            <p class="mb-3 mt-3 text-center">
              A comunidade desempenha um papel essencial na vida das pessoas, pois é por
              meio dela que se constrói um senso de pertencimento, apoio mútuo e cooperação. É no convívio comunitário
              que valores como solidariedade, respeito e responsabilidade coletiva são fortalecidos, contribuindo para o
              bem-estar social e emocional de seus membros. Além disso, a comunidade possibilita a troca de
              conhecimentos, experiências e recursos, favorecendo o crescimento individual e coletivo. Ao unir esforços
              em prol de objetivos comuns, ela se torna um espaço de fortalecimento social capaz de enfrentar desafios,
              promover a inclusão e gerar transformações positivas na vida de todos.
            </p>
          </div>
        </div>

        <!-- Formulário -->
        <div class="card card_form mb-5">
          <div>
            <div class="bg-primary">
              <h3 class="pb-3 pt-3 text-center text-uppercase text-white">
                Cadastro da Comunidade
              </h3>
            </div>

            <form class="cadastro_nomads" #formNomad="ngForm">
              <fieldset>
                <legend class="text-uppercase">Perfil Comunidade</legend>

                <div class="row">
                  <div class="col-sm-12 col-12 mb-3">
                    <label for="name" class="form-label pergunta">Nome</label>
                    <input type="text" class="form-control" id="name" name="name"
                      placeholder="Digite o nome da comunidade" required [(ngModel)]="comunity.name" #name="ngModel"
                      aria-label="Nome da comunidade" />
                    <div *ngIf="name.invalid && name.touched" class="alert alert-danger mt-1">
                      Informe o nome da Comunidade
                    </div>
                  </div>
                </div>

                <!-- Missão e Propósito -->
                <div class="row">
                  <div class="col-sm-12 col-12 mb-3">
                    <label class="pergunta" for="descricao">Missão</label>
                    <textarea id="descricao" class="form-control" name="descricao" rows="5" maxlength="{{ maxChars }}"
                      required [(ngModel)]="comunity.descricao" #descricao="ngModel"></textarea>
                    <div class="limite_caractere alert alert-warning mt-1">
                      Caracteres digitados:
                      <strong>{{ comunity.descricao?.length || 0 }} / {{ maxChars }}</strong>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-12 mb-3">
                    <label class="pergunta" for="historia">História da Comunidade</label>
                    <textarea id="historia" class="form-control" name="historia" rows="5" maxlength="{{ maxChars }}"
                      required [(ngModel)]="comunity.historia" #historia="ngModel"></textarea>
                    <div class="limite_caractere alert alert-warning mt-1">
                      Caracteres digitados:
                      <strong>{{ comunity.historia?.length || 0 }} / {{ maxChars }}</strong>
                    </div>
                  </div>
                </div>


                <!-- Nível + Idioma -->
                <div class="row">
                  <div class="form-group col-sm-6 col-12 mb-3">
                    <label for="data_criacao" class="form-label pergunta">Data da Criação da Comunidade</label>
                    <input type="date" class="form-control" id="data_criacao" name="data_criacao" required
                      [(ngModel)]="comunity.data_criacao" #data_criacao="ngModel" />
                    <div *ngIf="data_criacao.invalid && data_criacao.touched" class="alert alert-danger mt-1">
                      Informe o Nível da Experiência
                    </div>
                  </div>

                  <div class="form-group col-sm-6 col-12 mb-3">
                    <label for="gestor_comunidade" class="form-label pergunta">Gestor da Comunidade</label>
                    <input type="text" class="form-control" id="gestor_comunidade" name="gestor_comunidade"
                      placeholder="Informe o nível de experiência" required [(ngModel)]="comunity.gestor_comunidade"
                      #gestor_comunidade="ngModel" />
                    <div *ngIf="gestor_comunidade.invalid && gestor_comunidade.touched" class="alert alert-danger mt-1">
                      Informe o Nível da Experiência
                    </div>
                  </div>
                </div>

                <!-- Regras + Nível Participação -->
                <div class="row">
                  <div class="col-sm-6 col-12 mb-3">
                    <label class="pergunta" for="regras_convivencia">Regras de Convivência</label>
                    <textarea id="regras_convivencia" class="form-control" name="regras_convivencia" rows="5"
                      maxlength="{{ maxChars }}" required [(ngModel)]="comunity.regras_convivencia"
                      #regras_convivencia="ngModel"></textarea>
                    <div class="limite_caractere alert alert-warning mt-1">
                      Caracteres digitados:
                      <strong>{{ comunity.regras_convivencia?.length || 0 }} / {{ maxChars }}</strong>
                    </div>
                  </div>

                  <div class="form-group col-sm-4 col-12 ms-2 ps-2 mb-3">
                    <label for="idioma" class="form-label pergunta">Informe o idioma.</label>
                    <div class="form-check">
                      <div *ngFor="let idiomas of _languageList">
                        <input type="checkbox" class="form-check-input" value="{{ idiomas.nome }}"
                          id="{{ idiomas.nome }}" name="{{ idiomas.nome }}" [(ngModel)]="idiomas.isselected">
                        <label class="form-check-label" for="{{ idiomas.nome }}">{{ idiomas.nome }}</label>
                      </div>
                    </div>
                  </div>


                </div>
              </fieldset>

              <button type="submit" class="btn btn-success mb-3 w-100" [disabled]="formNomad.invalid"
                (click)="saveComunity()">
                Cadastrar Comunidade
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
