<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <!--<span class="company__logo">
        <h2><span class="fa fa-android"></span></h2>
      </span>-->
      <h4 class="company_title"><img src="../../assets/imgs/logos/Logo-SDE---Vertical---Branco.png" alt=""></h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form">
      <div class="container-fluid">
        <div class="row">
          <h2>Faça o seu Login</h2>
        </div>
        <div class="row">
          <form control="" class="form-group" #formLogin="ngForm">
            <div class="row">
              <input type="email" name="user_email" id="user_email" class="form__input form-control" #user_email="ngModel" [(ngModel)]="loginUsers.user_email" placeholder="Email do usuário" required>
            </div>
            <div class="row">
              <!-- <span class="fa fa-lock"></span> -->
              <input type="password" name="user_password" id="user_password" class="form__input form-control" #user_password="ngModel" [(ngModel)]="loginUsers.user_password" placeholder="Password" required>
            </div>
            <!--<div class="row remember">
              <input type="checkbox" name="remember_me" id="remember_me" class="col-sm-3 col-12">
              <label class="col-sm-9 col-12" for="remember_me">Remember Me!</label>
            </div>-->
            <div class="row">
              <input type="submit" value="Submit" [disabled]="!formLogin.valid" (click)="login()" class="btn_">
            </div>
          </form>
        </div>
        <div class="row">
          <p>Não possui conta? <a routerLink="/cadastro">Registre-se aqui</a></p>
        </div>
        <div class="row">
          <button type="button" class="btn btn-warning fw-bold text-white" data-bs-toggle="modal" data-bs-target="#modalReset">Esqueceu sua senha?</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal de gerar Pin-->

<div class="modal fade" id="modalReset" tabindex="-1" aria-labelledby="modalResetLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalResetLabel">Informe o seu email de cadastro</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-sm-12 col-12 mb-3">
              <form control="" class="form-group" #formLogin="ngForm">
                <div class="row">
                  <input type="email" name="user_email_reset" id="user_email_reset" class="form__input form-control" #user_email="ngModel" [(ngModel)]="loginUsers.user_email" placeholder="Email do usuário" required>
                </div>
              </form>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="gerarPin()" class="btn btn-primary">Gerar Pin</button>
      </div>
    </div>
  </div>
</div>
