<footer class="footer">
  <div class="row info-contato">
    <div class="col-md-4">
      <p class="text-center">
        <img class="logo" src="../../assets/imgs/logos/Sedet_Setur.png" alt="Logo Sedet e Setur">
        <!--<i class="bi bi-shop"></i>
        Secretária de Desenvolvimento Econômico e Trabalho do Ceará<br>
        <i class="bi bi-shop"></i>
        Secretária de Turismo do Estado do Ceará-->
      </p>
    </div>
    <div class="col-md-4">
      <br>
      <p class="text-center">
        <i class="bi bi-telephone"></i>
        Contato:
        (85) 3108-1039
      </p>
      <!--<p class="text-center">
        <i class="bi bi-telephone"></i>
        Contato:
        (85) xxxx-xxxx
      </p>-->
    </div>
    <div class="col-md-4">
      <br>
      <p class="text-center">
        <i class="bi bi-envelope"></i>
        admdigitalnomads@sedet.ce.gov.br
      </p>
    </div>
  </div>
  <!-- Copyright -->
  <div class="container-fluid copyright">
    <div class="row">
      <div class="col-md-4 text-center logo">
        <h5>Digital Nomads CE</h5>
      </div>
      <div class="col-md-4 text-center">
        <h5>© 2022 Copyright:</h5>
      </div>
      <div class="col-md-4 text-center">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
      </div>
    </div>
  </div>
  <!-- Copyright -->

</footer>
