.info-contato{
  background-color: #fcc31d;
  color: rgb(29, 22, 22);
}
.info-contato p{
  padding-top: 15px;
  font-weight: bold;
}

.copyright{
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright i{
  padding-right: 15px;
}

.logo{
  width: 35%;
}

.logo_nd{
  width: 45%;
}
