<footer class="container-fluid footer">
  <div class="row info-contato">
    <div class="col-md-4">
      <p class="text-center">
        <img class="logo" src="../../assets/midia/imgs/logos/Sedet_Setur.png" alt="Logo Sedet e Setur">
      </p>
    </div>
    <div class="col-md-4">
      <br>
      <p class="text-center">
        <i class="bi bi-telephone"></i>
        Contato: (85) 3108-1039
      </p>
    </div>
    <div class="col-md-4">
      <br>
      <p class="text-center">
        <i class="bi bi-envelope"></i>
        admdigitalnomads@sde.ce.gov.br
      </p>
    </div>
  </div>
  <!-- Copyright -->
    <div class="row copyright">
      <div class="col-md-4 text-center">
        <h5>Digital Nomads CE</h5>
      </div>
      <div class="col-md-4 text-center">
        <h5>© 2022 Copyright:</h5>
      </div>
      <div class="col-md-4 text-center">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
      </div>
    </div>
  <!-- Copyright -->

</footer>
