#conhecerCeara {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-caption.caption-bg {
  background: rgba(0, 0, 0, 0.5); /* fundo escuro translúcido */
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 90%;
  margin: auto;
}

@media (max-width: 768px) {
  .carousel-caption.caption-bg h5 {
    font-size: 1.2rem;
  }
  .carousel-caption.caption-bg p {
    font-size: 0.9rem;
  }
}
