<div id="conhecerCeara" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000">
  <div class="carousel-inner h-100">
    <!-- Ecológico -->
    <div class="carousel-item active h-100">
      <img src="/assets/midia/imgs/CACHOEIRA_MISSAO_VELHA.JPG" class="d-block w-100 h-100 object-fit-cover" alt="...">
      <div class="carousel-caption caption-bg">
        <h5>Ceará Natural: Aventuras Verdes e Preservação</h5>
        <p>Explore a biodiversidade exuberante do Ceará, de trilhas em serras a paisagens intocadas, e conecte-se com a natureza.</p>
      </div>
    </div>
    <!-- Praiano -->
    <div class="carousel-item h-100">
      <img src="../../assets/midia/imgs/Nomades 1.jpg" class="d-block w-100 h-100 object-fit-cover" alt="...">
      <div class="carousel-caption caption-bg">
        <h5>Sol, Mar e Dunas: As Praias Paradisíacas do Ceará</h5>
        <p>Relaxe nas areias douradas, mergulhe em águas cristalinas e desfrute da brisa do mar nas deslumbrantes praias cearenses.</p>
      </div>
    </div>
    <!-- Radical -->
    <div class="carousel-item h-100">
      <img src="/assets/midia/imgs/turismo_radical_02.JPG" class="d-block w-100 h-100 object-fit-cover" alt="...">
      <div class="carousel-caption caption-bg">
        <h5>Ceará Aventura: Adrenalina em Cenários Espetaculares</h5>
        <p>Para os amantes de emoção, o Ceará oferece esportes radicais em terra, mar e ar, com paisagens que tiram o fôlego.</p>
      </div>
    </div>
    <!-- Religioso -->
    <div class="carousel-item h-100">
      <img src="/assets/midia/imgs/ESTATUA PE CICERO.JPG" class="d-block w-100 h-100 object-fit-cover" alt="...">
      <div class="carousel-caption caption-bg">
        <h5>Fé e Devoção: Caminhos Sagrados no Ceará</h5>
        <p>Conheça os locais de peregrinação e os templos religiosos que contam a rica história de fé e cultura do povo cearense.</p>
      </div>
    </div>
    <!-- Serrano -->
    <div class="carousel-item h-100">
      <img src="../../assets/midia/imgs/PARQUE-NACIONAL-DE-UBAJARA.jpg" class="d-block w-100 h-100 object-fit-cover" alt="...">
      <div class="carousel-caption caption-bg">
        <h5>O Charme da Serra: Clima Agradável e Cultura Local</h5>
        <p>Descubra o clima ameno das serras cearenses, com suas cachoeiras, trilhas e a hospitalidade das comunidades locais.</p>
      </div>
    </div>
    <!-- Sertanejo -->
    <div class="carousel-item h-100">
      <img src="../../assets/midia/imgs/sertao_quixeramobim.jpg" class="d-block w-100 h-100 object-fit-cover" alt="...">
      <div class="carousel-caption caption-bg">
        <h5>Sertão Forte: Tradição e Beleza no Coração do Ceará</h5>
        <p>Aventure-se pelo sertão cearense, conhecendo a resiliência de seu povo, a riqueza de sua cultura e paisagens únicas.</p>
      </div>
    </div>
  </div>
</div>


<div>
  <app-o_que_e></app-o_que_e>
</div>
<!--<div id="counts" class="counts">
  <div class="container">
    <div class="row counters">
      <div class="col-lg-4 col-12 text-center">
        <span>2</span>
        <p>Municípios Parceiros</p>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <span>5</span>
        <p>Empresas Parceiras</p>
      </div>
      <div class="col-lg-4 col-12 text-center">
        <span>7</span>
        <p>Nomads Cadastrados</p>
      </div>
    </div>
  </div>
</div>-->
