.imagem-carousel_teste{
    object-fit: cover;
    object-position: 0 80%;
    height: 500px;
}

.fonte-titulo{
    font-weight: bold !important;
}

  .texto-section-grande{
    font-size:150px;
    font-weight:bolder;
    color: white;
    margin: 0;
    padding: 30px 0 0 0;
    line-height: 150px;
  }

  .hubs{
    position: absolute;
    background-color: #f8f9faa8;
    color:rgb(22, 19, 19);
    font-weight: bold;
    text-align: justify;
    font-size: 1.8rem;
    width: 285px;
    line-height: 40px;
    height: 360px;
    padding: 12px 12px 50px 12px;
    margin: 50px 12px;
    right: 20px;
  }

  .data{
    background-color: #f8f9faa8;
    color:rgb(22, 19, 19);
    font-weight: bold  !important;
    font-size: 1.8rem;
    line-height: 40px;
    padding: 12px 12px 12px 12px;
    margin-top: 20%;
  }

  .fibras{
    position: absolute;
    background-color: #f8f9faa8;
    color:rgb(22, 19, 19);
    font-weight: bold;
    text-align: justify;
    font-size: 1.8rem;
    width: 285px;
    line-height: 40px;
    height: 560px;
    padding: 12px 12px 50px 12px;
    margin: 50px 12px;
    left: 20px;
  }

  .fibers_02{
    position: absolute;
    background-color: #f8f9faa8;
    color:rgb(22, 19, 19);
    font-weight: bold  !important;
    font-size: 2rem;
    line-height: 40px;
    height: 300px;
    padding: 12px 12px 12px 12px;
    vertical-align: middle;
    margin-top: 10%;
  }

  .safe{
    color:rgb(22, 19, 19);
    font-weight: bold;
    font-size: 2.8rem;
    padding: 35px 12px 12px 12px;
  }

  .selo img{
    width: 50%;
    margin: 20px;
  }

  .conteudo{
    min-height: 70vh;
    /*margin-top: 1em;*/
  }
