/* altura padrão do header */
:host {
  --header-height: 80px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER FIXO */
app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1000;
}

/* CONTEÚDO */
.conteudo {
  margin-top: var(--header-height);
  flex: 1;
}

/* FOOTER */
app-footer {
  margin-top: auto;
}
