<section class="hospd-section">
  <div class="container">
    <h1 class="hospd-title text-uppercase text-center">Coworking Parceiros</h1>

    <!-- Carousel -->
    <div id="hospdCarousel" class="carousel slide mt-3" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item" *ngFor="let grupo of lista_coworking; let i = index"
          [ngClass]="{ 'active': i === 0 }">
          <div class="row justify-content-center align-items-stretch">
            <div class="col-12 col-md-6 col-lg-5 d-flex" *ngFor="let hospedagem of grupo">
              <div class="hospd-card flex-fill d-flex flex-column">

                <!-- Círculo da logo -->
                <div class="hospd-icon">
                  <img *ngIf="hospedagem.logoUrl" [src]="hospedagem.logoUrl" alt="logo {{ hospedagem.nome_fantasia }}" />
                  <!-- <span *ngIf="!hospedagem.logoUrl" class="text-center">Logo não adicionada</span> -->
                </div>

                <!-- Nome e descrição -->
                <h6 class="fw-bold">{{ hospedagem.nome_fantasia }}</h6>
                <p class="description">{{ hospedagem.espacos_culturais }}</p>

                <!-- Ícones -->
                <div class="text-end detalhes mt-auto">
                  <a [routerLink]="['/ondeficar/info']" title="SAIBA MAIS" [queryParams]="{ id: hospedagem.id }"><i class="fa-solid fa-circle-info" ></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Controles -->
      <button class="carousel-control-prev" type="button" data-bs-target="#hospdCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#hospdCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>

    <div class="hospd-icon-return text-start pt-4">
      <a routerLink="/ondeficar/ambiente">
        <img src="../../../assets/midia/icons/volte.png" alt="Retorno">
      </a>
    </div>
  </div>
</section>



<!--Modal Parceria-->
<!-- <div class="modal fade" id="modalParceria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalParceriaLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white text-center">
        <h1 class="modal-title fs-5" id="modalParceriaLabel">{{ nome_empresa }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="!isLoading" class="d-flex justify-content-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div *ngIf="isLoading">
          <div class="row">
            <div class="col-sm-4 col-12 logo text-center">
              <img class="mx-auto d-block align-middle" [src]="imgUrl" alt="Parceiro sem logo">
            </div>
            <div class="col-sm-8 col-12">
              <table class="table table-hover align-middle" *ngIf="tipo_service == 'outro'">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Tipo de Serviço</th>
                    <td>{{ tipo_service }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Ramo de atividade:</th>
                    <td colspan="2">{{ ramo }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Benefícios:</th>
                    <td colspan="2">{{ beneficios }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Atende pelo(s) idioma(s):</th>
                    <td colspan="2">{{ qual_idioma }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Telefone de contato:</th>
                    <td colspan="2">{{ telefone }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Email:</th>
                    <td colspan="2">{{ email }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Instagram:</th>
                    <td colspan="2"><i class="bi bi-instagram"></i> {{ instagram }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Tem internet?</th>
                    <td colspan="2">{{ tem_internet }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Qualidade da internet:</th>
                    <td colspan="2">{{ internet }}</td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-hover align-middle" *ngIf="tipo_service == 'local_trabalho'">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Tipo de Serviço</th>
                    <td>{{ tipo_service }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Quem somos?</th>
                    <td>{{ espacos_culturais }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Tipo de estabelecimento:</th>
                    <td colspan="2">{{ tipo_estabelecimento }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Possui espaço para reuniões?</th>
                    <td colspan="2">{{ reunioes }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Atende pelo(s) idioma(s):</th>
                    <td colspan="2">{{ qual_idioma }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Telefone de contato:</th>
                    <td colspan="2">{{ telefone }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td colspan="2">{{ email }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Instagram:</th>
                    <td colspan="2"><i class="bi bi-instagram"></i> {{ instagram }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Tem internet?</th>
                    <td colspan="2">{{ tem_internet }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Qualidade da internet:</th>
                    <td colspan="2">{{ internet }}</td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-hover align-middle" *ngIf="tipo_service == 'alimentacao'">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Tipo de Serviço</th>
                    <td>{{ tipo_service }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Quem somos?</th>
                    <td>{{ espacos_culturais }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Tipo de estabelecimento:</th>
                    <td colspan="2">{{ tipo_estabelecimento }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Possui espaço para trabalho?</th>
                    <td colspan="2">{{ espaco_trabalho }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Sua equipe é orientada para atender clientes que trabalham no local?</th>
                    <td colspan="2">{{ orienta_equipe }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Atende pelo(s) idioma(s):</th>
                    <td colspan="2">{{ qual_idioma }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Telefone de contato:</th>
                    <td colspan="2">{{ telefone }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Email:</th>
                    <td colspan="2">{{ email }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Instagram:</th>
                    <td colspan="2"><i class="bi bi-instagram"></i> {{ instagram }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Tem internet?</th>
                    <td colspan="2">{{ tem_internet }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Qualidade da internet:</th>
                    <td colspan="2">{{ internet }}</td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-hover align-middle" *ngIf="tipo_service == 'hospedagem'">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Tipo de Serviço</th>
                    <td>{{ tipo_service }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Quem somos?</th>
                    <td>{{ espacos_culturais }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Tipo de Estabelecimento</th>
                    <td>{{ tipo_estabelecimento }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Serviços essenciais:</th>
                    <td colspan="2">{{ essential_service }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Atende pelo(s) idioma(s):</th>
                    <td colspan="2">{{ qual_idioma }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Telefone de contato:</th>
                    <td colspan="2">{{ telefone }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td colspan="2">{{ email }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Instagram:</th>
                    <td colspan="2"><i class="bi bi-instagram"></i> {{ instagram }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Tem internet?</th>
                    <td colspan="2">{{ tem_internet }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Qualidade da internet:</th>
                    <td colspan="2">{{ internet }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row row-cols-1">
            <div class="col-12">
              <div *ngIf="lista_imagens.length > 0" id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item carrossel" *ngFor="let image of lista_imagens; let i = index"
                    [ngClass]="{'active': i === 0}">
                    <div *ngIf="image.tipo_anexo === 'image'">
                      <img [src]="image.imagem" class="d-block w-100" alt="Imagens do estabelecimento">
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div *ngIf="lista_imagens.length == 0" class="alert alert-danger" role="alert">
                {{ showMessage }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div> -->
