<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title text-center mb-5">
      <h2>Visto para Nômade Digital no Brasil</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>Você, Nômade Digital, pode solicitar visto e residência temporária no Brasil com duração de até 1 ano, podendo ser renovado por igual período. Caso não deseje estender a sua estadia por mais de 90 dias, poderá ingressar no Brasil com o visto de turista, observando as condições migratórias de acordo com a sua nacionalidade.</p>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Adicionamos o Guia Prático, elaborado pelo Ministério da Justiça e Segurança Pública, para auxiliar no processo de solicitação do visto. O Guia está disponível em Português e em Inglês.
        </p>
        <a href="../../../assets/pdfs/FOLDER_PORTUGUES.pdf" target="_blank" class="btn-learn-more">Saiba Mais</a>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->
