html,
body {
  height: 100%;
  margin: 0;
}

.bg-container {
  background: url("../../../assets/midia/imgs/praia_paracuru.png") no-repeat center center;
  background-size: cover;
  min-height: 80vh;
  padding: clamp(20px, .5vw, 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* grid dos cards */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 320px));
  gap: 24px;
  width: 100%;
  justify-content: center;
}

/* estilo base */
.card-link {
  position: relative;
  border-radius: 20px;
  text-decoration: none;
  padding: 25px;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-weight: bold;
  transition: transform 0.3s ease;
  font-family: "Aristotelica", "Poppins", "Montserrat";
}

.card-link:hover {
  transform: scale(1.03);
}

.card-perfil {
  background: #ff5a00;
  color: #fff;
}

.card-destino {
  background: #f4cf00;
  color: #000;
}

/* tablet */
@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
    max-width: 350px;
  }

  .card-link {
    min-height: 150px;
  }
}
