<div class="bg-container">
    <div class="container-ms-0" style="max-width: 600px;">
      <div class="row g-3">
        <!-- Coluna 1 -->
        <div class="col-12 col-md-6">
          <a routerLink="/atrativo/informacoes" class="card-link card-info w-100">
            Informações Gerais
          </a>
        </div>
        <div class="col-12 col-md-6">
          <a routerLink="/atrativo/perfil" class="card-link card-perfil w-100">
            Perfil do Ceará
          </a>
        </div>

        <!-- Coluna 2 -->
        <div class="col-12 col-md-6">
          <!-- <img width="64" height="64" src="../../../assets/midia/icons/icons8-distribuidor-64.png" alt="hub"/> -->
          <a routerLink="/atrativo/hub" class="card-link card-hub w-100">
            HUB DE INOVAÇÃO
          </a>
        </div>
        <div class="col-12 col-md-6">
          <a routerLink="/atrativo/aeroportos" class="card-link card-destino w-100">
            Destino Ceará
          </a>
        </div>
      </div>
    </div>
  </div>
