body, html {
      height: 100%;
      margin: 0;
    }

    .bg-container {
      background: url("../../../assets/midia/imgs/praia_paracuru.png") no-repeat center center;
      background-size: cover;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: flex-start; /* força alinhamento à esquerda */
      padding-left: 3%; /* margem suave da borda esquerda */
    }

    .card-link {
      border-radius: 15px;
      padding: 30px;
      margin: 10px;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-height: 120px;
      transition: transform 0.2s ease-in-out;
    }

    .card-link:hover {
      transform: scale(1.05);
    }
    .card-link img {
      z-index: 0;
    }

    .card-info {
      background-color: #dcdcdc; /* cinza */
      color: #000;
    }

    .card-perfil {
      background-color: #ff4500; /* laranja */
    }

    .card-hub {
      background-color: #e60050; /* rosa */
    }

    .card-destino {
      background-color: #dcdcdc; /* cinza claro */
      color: #000;
    }
