#forms {
  margin-top: 100px;
}
.pergunta{
  font-weight: bold;
}
legend{
  font-weight: bold;
  text-decoration: underline;
}
h3{
  font-weight: bolder;
}
textarea {
  resize: none;
}
.limite_caractere{
  padding: 0.3rem 0.3rem !important;
}
