<section class="home-community" *ngIf="!show_info">

  <div class="container empty-state text-center" *ngIf="lista_comunidades.length === 0">
    <div class="empty-card">
      <img src="../../../assets/midia/icons/box_empty.png" alt="Sem dados" class="empty-icon">
      <h3>Nenhuma Comunidade encontrado</h3>
      <p>Atualmente não há registros nesta categoria. Volte mais tarde ou explore outras opções.</p>
      <button class="btn btn-primary mt-3" (click)="retorno()">
        Voltar
      </button>
    </div>
  </div>
  <div class="container-fluid py-5">
    <div class="row align-items-center">
      <!-- Coluna da esquerda -->
      <div class="col-md-4 text-center mb-4">
        <h2 class="title">COMUNIDADES</h2>
        <img src="../../../assets/midia/imgs/comunidade nomade.jpg" alt="Celular"
          class="phone-img img-fluid animate-float">
      </div>

      <!-- Coluna da direita -->
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-2" *ngFor="let comunidade of lista_comunidades">
            <div class="circle" [ngStyle]="{'background-color': comunidade.color}"
              (click)="verComunidade(comunidade.id, comunidade.name)">
              {{ comunidade.name | uppercase }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero-section" *ngIf="show_info">
  <div class="overlay">
    <div class="container-fluid">
      <div class="row align-items-center flex-column flex-md-row">

        <!-- Coluna esquerda -->
        <div class="col-12 col-md-6 text-center left-section">
          <h1 class="hero-title">COMUNIDADE</h1>
          <div class="circle_02">{{ comunidade_name }}</div>
        </div>

        <!-- Coluna direita (accordion) -->
        <div class="col-12 col-md-6 right-section mt-4 mt-md-0">
          <div class="accordion" id="accordionComunidade">

            <!-- Item 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                  Perfil da Comunidade
                </button>
              </h2>
              <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                data-bs-parent="#accordionComunidade">
                <div class="accordion-body">
                  <ng-container *ngIf="show_info; else noDataPerfil">
                    <div class="perfil">
                      <p>Comunidade criada em <b>{{ comunidade.data_criacao | date :'dd/MM/yyyy'}}</b>.</p>
                      <p>{{ comunidade.descricao }}</p>
                      <p>{{ comunidade.historia }}</p>
                      <p><b>Idiomas:</b> {{ comunidade.idioma }}</p>
                      <p><b>Regras de convivência:</b> {{ comunidade.regras_convivencia }}</p>
                      <p><b>Gestor:</b> {{ comunidade.gestor_comunidade }}</p>
                    </div>
                  </ng-container>

                  <ng-template #noDataPerfil>
                    <div class="no-data">
                      <i class="fa-solid fa-user-slash"></i>
                      <p>Não há dados cadastrados no momento.</p>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>

            <!-- Item 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  Evento
                </button>
              </h2>
              <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                data-bs-parent="#accordionComunidade">
                <div class="accordion-body">
                  <ng-container *ngIf="lista_eventos_community.length > 0; else noDataEventos">
                    <div class="evento" *ngFor="let evento of lista_eventos_community; let i = index">
                      <p><b>Nome do evento: </b>{{ evento.evento_name }}.</p>
                      <p><b>Descrição:</b> {{ evento.descricao }}</p>
                      <p><b>Tipo de Evento:</b> {{ evento.tipo_evento }}</p>
                      <p><b>Data de Início:</b> {{ evento.data_inicio_evento | date :'dd/MM/yyyy' }}</p>
                      <p><b>Data final do Evento:</b> {{ evento.data_final_evento | date :'dd/MM/yyyy' }}</p>
                      <p><b>Cidade:</b> {{ evento.ass_evento_municipio.nome_municipio }}</p>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="lista_eventos_community_freq.length > 0; else noDataEventos">
                    <div class="evento_freq" *ngFor="let event of lista_eventos_community_freq; let i = index">
                      <p><b>Nome do evento: </b>{{ event.evento_name }}.</p>
                      <p><b>Descrição:</b> {{ event.descricao }}</p>
                      <p><b>Horario:</b> {{ event.horario }}</p>
                      <p><b>Dia do evento: </b> <span class="text-capitalize">{{ event.dia_frequente }}</span></p>
                      <p><b>Cidade:</b> {{ event.ass_evento_municipio.nome_municipio }}</p>
                    </div>
                  </ng-container>

                  <ng-template #noDataEventos>
                    <div class="no-data">
                      <i class="fa-solid fa-calendar-xmark"></i>
                      <p>Não há eventos cadastrados no momento.</p>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>

            <!-- Item 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  Pontos de Encontro
                </button>
              </h2>
              <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                data-bs-parent="#accordionComunidade">
                <div class="accordion-body">
                  <ng-container *ngIf="lista_pontosEncontros.length > 0; else noDataLocation">
                    <div class="point" *ngFor="let ponto of lista_pontosEncontros; let i = index">
                      <p>A comunidade tem o ponto de encontro no seguinte formato: <b class="text-capitalize">{{
                          ponto.formato }}</b>.</p>
                      <p *ngIf="ponto.formato === 'presencial' || ponto.formato === 'hibrido'"><b>Ponto de encontro:</b>
                        {{ ponto.lugar }}</p>
                      <p *ngIf="ponto.formato === 'presencial' || ponto.formato === 'hibrido'"><b>Data do encontro:</b>
                        {{ ponto.data_encontro | date :'dd/MM/yyyy' }}</p>
                      <p *ngIf="ponto.formato === 'presencial' || ponto.formato === 'hibrido'"><b>Horario:</b> {{
                        ponto.hora }}</p>
                      <p *ngIf="ponto.formato === 'presencial' || ponto.formato === 'hibrido'"><b>Endereço: </b> {{
                        ponto.logradouro }}, {{ ponto.numero }} - {{ ponto.cidade }}, {{ ponto.estado }} - CEP: {{
                        ponto.cep }}</p>
                      <p *ngIf="ponto.formato === 'remoto' || ponto.formato === 'hibrido'">A plataforma de acesso para o
                        nosso encontro é pela(o): <b>{{ ponto.plataforma }}</b>. Através do link de acesso: {{
                        ponto.link }}</p>
                    </div>
                  </ng-container>

                  <ng-template #noDataLocation>
                    <div class="no-data">
                      <i class="fa-solid fa-map-location-dot"></i>
                      <p>Não há pontos de encontro cadastrados no momento.</p>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>

            <!-- Item 4 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  Conecte-se
                </button>
              </h2>
              <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                data-bs-parent="#accordionComunidade">
                <div class="accordion-body">
                  <ng-container *ngIf="lista_midia.length > 0; else noDataMidia">
                    <div class="midia" *ngFor="let midia of lista_midia; let i = index">
                      <p>Conecte-se em nossas redes sociais: </p>
                      <p *ngIf="midia.plataforma === 'discord'"><i class="fa-brands fa-discord"></i> {{
                        midia.acesso_midia
                        }}</p>
                      <p *ngIf="midia.plataforma === 'whatsapp'"><i class="fa-brands fa-whatsapp"></i> {{
                        midia.acesso_midia }}</p>
                      <p *ngIf="midia.plataforma === 'telegram'"><i class="fa-brands fa-telegram"></i> {{
                        midia.acesso_midia }}</p>
                      <p *ngIf="midia.plataforma === 'slack'"><i class="fa-brands fa-slack"></i> {{ midia.acesso_midia
                        }}
                      </p>
                      <p *ngIf="midia.plataforma === 'instagram'"><i class="fa-brands fa-instagram"></i> {{
                        midia.acesso_midia }}</p>
                      <p *ngIf="midia.plataforma === 'facebook'"><i class="fa-brands fa-facebook"></i> {{
                        midia.acesso_midia }}</p>
                    </div>
                  </ng-container>
                  <ng-template #noDataMidia>
                    <div class="no-data">
                      <i class="fa-solid fa-link-slash"></i>
                      <p>Não há midia cadastrados no momento.</p>
                    </div>
                  </ng-template>

                </div>
              </div>
            </div>

            <!-- Voltar -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button text-danger" type="button" (click)="return()">
                  <i class="fa-solid fa-rotate-left me-2"></i> Ver Comunidades
                </button>
              </h2>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
