<header>
  <nav class="navbar navbar-expand-md navbar-dark shadow-5-strong navBar fixed-top">
    <div class="container-fluid">

      <!-- Logo -->
      <a class="navbar-brand brand_nomad" routerLink="">
        <img src="../../assets/midia/imgs/logos/digital-nomads-1.png" alt="Logo Digital Nomads CE">
      </a>

      <!-- Botão hamburguer para dispositivos móveis -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between menu" id="navbarSupportedContent">
        <ul class="menuOpcoes navbar-nav me-auto ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/atrativo/home">Ceará Atrativos</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              O que fazer?
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" routerLink="/experience/home">Experiências
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/eventos/proxima_parada">Eventos
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/eventos/gastronomia">Gastronomia
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="nav-item">
                <a class="dropdown-item" routerLink="/ondeficar/home">Hospedagem</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/eventos/temporadaNomad">Temporada Nomads
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/comunidade/home">Comunidades</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Networking
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

              <li class="nav-item">
                <a class="dropdown-item" routerLink="/ondeficar/ambiente">Ambiente de Trabalho</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/trabalho/home">Oportunidades de Trabalho
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Serviços
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/cpf_estrangeiro">CPF para Estrangeiros</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/visto_nomade">Visto para Nômade Digital no Brasil
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown" *ngIf="profile != 1">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Cadastro
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngIf="profile === 3">
                <a class="dropdown-item" routerLink="/comunidade/homecadastro">Cadastro Comunidades
                </a>
              </li>
              <li *ngIf="profile != 1 && profile != 2 && profile != 4 && profile != 5">
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/ondeficar/cadastro_parceiro"
                  *ngIf="profile != 1 && profile != 2 && profile != 4 && profile != 5">Cadastre sua empresa
                </a>
              </li>
              <li *ngIf="profile === 3">
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/municipio/cadastro_municipio" *ngIf="profile === 3">Cadastro de
                  Municípios</a>
              </li>
              <li *ngIf="profile != 1 && profile != 2 && profile != 4 && profile != 5">
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/nomad/cadastro_nomad"
                  *ngIf="profile != 1 && profile != 2 && profile != 4 && profile != 5">Cadastro de Nomads
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" *ngIf="profile === 3">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/admin/cadastro" *ngIf="profile === 3">Cadastro de Admin</a>
              </li>
              <li *ngIf="profile === 3">
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/eventos/cadastro_eventos" *ngIf="profile === 3">Cadastrar Eventos
                </a>
              </li>
              <li *ngIf="profile === 3">
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/eventos/cadastro_temporada" *ngIf="profile === 3">Cadastrar
                  Temporada Nomads
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown" *ngIf="profile === 3">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" routerLink="/ondeficar/editarparceria">Editar nomads cadastradas
                </a>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/ondeficar/editarparceria">Editar empresas cadastradas
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li *ngIf="profile === 3">
                <a class="dropdown-item" routerLink="/admin/user">Usuários</a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="profile === 2">
            <a class="nav-link active" routerLink="/ondeficar/editar">Editar</a>
          </li>
          <li class="nav-item" *ngIf="profile === 1"><!--*ngIf="profile === 1"-->
            <a class="nav-link active" routerLink="/nomad/editarNomad">Perfil Nomad</a>
          </li>


          <li *ngIf="!authenticated" class="d-flex align-items-center">
            <button type="button" routerLink="/admin/login"
              class="btn btn-success text-dark fw-bold text-white ms-2 me-3">Login</button>
          </li>
          <!-- <li *ngIf="!authenticated">
            <button type="button" routerLink="/nomad/cadastro_nomad"
              class="btn btn-primary text-dark fw-bold text-white">Cadastre-se</button>
          </li> -->
          <li *ngIf="authenticated" class="d-flex align-items-center">
            <button type="button" routerLink="/login" class="btn btn-danger text-dark fw-bold text-white ms-3 me-2"
              (click)="logout()">Logout</button>
          </li>
        </ul>
        <!-- <form action="" class="d-flex">
          <div>
            <input type="search" name="busca" class="busca" placeholder="Pesquisar">
          </div>
        </form> -->
      </div>
    </div>
  </nav>
</header>
