.navBar {
  background-color: rgba(0, 0, 0, 0.2);
}

.brand_nomad {
  margin-right: 10px;
  padding-right: 10px;
  width: 30%;
}

.brand_nomad img {
  width: 45%;
  margin-left: 2.8rem;
}

.menu li{
  font-size: clamp(0.90em, 0.2em + 1vw, 1.25em);
}

.busca{
  background: url(../../assets/midia/icons/lupa_white_20.png) no-repeat center right;
  padding: 5px;
  border: none;
  width: 20px;
  -webkit-transition: all 0.8s linear;
  transition: all 0.5s linear;
}
.busca:focus{
  width: 200px;
  border: solid 1px #ddd;
  background-color: aliceblue;
  outline: none;
}

.busca::placeholder{
  color: #1f1c1c;
}

.menu ul li{
  transition: 0.7s all;
}
.menu ul li:hover{
  background-color:#4ea091;
}
.menu ul li a{
  padding: 20px 30px;
  font-family: 'AristotelicaExtraLight';
}
.menuOpcoes {
  margin-left: auto;
  margin-right: auto;
}
