<section class="layout reverse">

  <div class="info-img perfil-img"></div>

  <div class="perfil-text">
    <h1 class="text-uppercase">Perfil Ceará</h1>
    <p>Um estado moderno, com cidades que oferecem desde a energia cosmopolita da capital <strong>Fortaleza</strong> até
      a tranquilidade de vilas litorâneas e serranas. Em poucas horas, você pode sair de uma reunião online para um
      mergulho no mar ou uma trilha com vista panorâmica.</p>

    <p>Aqui você encontra:</p>

    <div class="cards">
      <div class="card">
        <i class="fa-solid fa-people-group"></i>
        <p>Comunidade crescente de nômades digitais e empreendedores.</p>
      </div>
      <div class="card">
        <i class="fa-solid fa-utensils"></i>
        <p>Gastronomia premiada e opções saudáveis</p>
      </div>
      <div class="card">
        <i class="fa-solid fa-mountain-sun"></i>
        <p>Tranquilidade do sertão</p>
      </div>
      <div class="card">
        <i class="fa-solid fa-wind"></i>
        <p>Atividades para todos os gostos - do kitesurf ao youga na praia</p>
      </div>
    </div>

    <a routerLink="/atrativo/home" class="cta text-uppercase">Ceará Atrativo</a>
  </div>
</section>
