.temporadaNomad{
  margin-top: 5.5rem;
}

.pergunta{
  font-weight: bold;
  font-family: 'AristotelicaDemiBold';
  margin: .3rem auto .3rem auto;
  font-size: 1.3rem;
  padding: 0 .8rem;

}

legend{
  font-weight: bold;
  text-decoration: underline;
  font-family: 'AristotelicaDemiBold';
  margin: 1.2rem auto 1rem auto;
  font-size: 1.75rem;
}
h3{
  font-weight: bolder;
  font-family: 'AristotelicaDemiBold';
  font-size: 2.75rem;
}
textarea {
  resize: none;
}
.limite_caractere{
  padding: 0.3rem 0.3rem !important;
}

section {
  background: url("/assets/midia/imgs/centro_eventos.png") no-repeat fixed center;
}

.manual p, a{
  margin-left: 25px;
  margin-right: 25px;
  text-align: justify;
  font-weight: bold;
}

.card_manual{
  margin-top: 90px !important;
  background: rgba(255, 255, 255, 0.8);
}

.card_form{
  background: rgba(255, 255, 255, 0.8);
}

.cadastro_temporada{
  margin-left: 25px;
  margin-right: 25px;
}

.card {
  box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3);
}

table thead tr th{
  vertical-align: middle;
}

table tbody tr td{
  vertical-align: middle;
}
