<section id="forms">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-12">
        <p class="mb-3 mt-3">
          Trabalhe remotamente do Ceará e aproveite para conhecer as belezas que este Estado tem à oferecer.
        </p>
        <h5 class="mb-3 mt-3 tex-center">Venha fazer parte dessa comunidade você também!</h5>
        <!--<a href="#" target="_blank">Inscreva-se</a><br>-->
        <figure class="figure">
          <img src="../../assets/imgs/extras/turistas.png" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-end">Ceará e suas regiões</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-12">
        <h3 class="mb-3 mt-3 tex-center">Cadastro dos Nômades Digitais no Ceará / Register of Digital Nomads in Ceará
        </h3>
        <form>
          <fieldset>
            <legend>
              Dados pessoais / Personal Data
            </legend>
            <div class="row">
              <div class="col-sm-6 col-12 mb-3">
                <label for="nomad_name" class="form-label">Nome / Name</label>
                <input type="text" class="form-control" id="nomad_name" placeholder="Digite seu nome / Type your name">
              </div>
              <div class="col-sm-6 col-12 mb-3">
                <label for="nomad_lastName" class="form-label">Sobrenome / Last name</label>
                <input type="text" class="form-control" id="nomad_lastName"
                  placeholder="Digite seu Sobrenome / Type your Last name">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12 mb-3">
                <label for="email_nomad" class="form-label">Email</label>
                <input type="email" class="form-control" id="email_nomad" aria-describedby="emailNomad"
                  placeholder="Insira um email válido! / Please enter a valid email!">
                <div id="emailHelp" class="form-text">Não compartilhe email com terceiros. / Do not share email with third
                  parties.</div>
              </div>
              <div class="col-sm-6 col-12 mb-3">
                <label for="contato_nomad" class="form-label">Telefone / Phone Number</label>
                <input type="text" class="form-control" id="contato_prefeitura" placeholder="(XX) x xxxx xxxx">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12 mb-3">
                <label for="nomad_city" class="form-label">Cidade / City</label>
                <input type="text" class="form-control" id="nomad_city" placeholder="Digite sua cidade / Type your city">
              </div>
              <div class="col-sm-6 col-12 mb-3">
                <label for="nomad_state" class="form-label">Região ou Estado / State or Region</label>
                <input type="text" class="form-control" id="nomad_state"
                  placeholder="Digite seu Estado / Type your State or Region">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12 mb-3">
                <label for="nomad_country" class="form-label">País / Country</label>
                <input type="text" class="form-control" id="nomad_country"
                  placeholder="Digite seu País / Type your Country">
              </div>
              <div class="col-sm-6 col-12 mb-3">
                <label for="nomad_date" class="form-label">Data de partida / Departure Date</label>
                <input type="date" class="form-control" id="nomad_date"
                  placeholder="Data">
              </div>
            </div>
            <div class="mb-3">
              <label for="wifi_service">Aceita compartilhar suas informações e dados pessoais com os estabelecimentos
                parceiros do Projeto Digital Nomads Ceará para receber informações sobre o turismo no Estado do Ceará?
                Ressaltamos que estes dados podem ser descartados a qualquer momento conforme a solicitação do titular.
                // Do you agree to share your information and personal data with partner establishments of the Digital
                Nomads Ceará Project to receive information about tourism in the State of Ceará? We emphasize that this
                data can be discarded at any time by the request of the holder.</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="data_sim" value="sim">
                <label class="form-check-label" for="data_sim">
                  Sim
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="data_nao" value="nao">
                <label class="form-check-label" for="data_nao">
                  Não
                </label>
              </div>
            </div>
            <div class="mb-3">
              <label for="wifi_service">Deseja receber as novidades do Projeto Digital Nomads Ceará? / Would you like to
                receive news about the Digital Nomads Ceará Project?</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="news_sim" value="sim">
                <label class="form-check-label" for="news_sim">
                  Sim
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="news_nao" value="nao">
                <label class="form-check-label" for="news_nao">
                  Não
                </label>
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="suggestion">Se tiver alguma sugestão deixe ela aqui para a gente! / If you have any
                suggestion, please leave it here.</label>
              <textarea class="form-control" id="suggestion" rows="3"></textarea>
            </div>
          </fieldset>

          <button type="submit" class="btn btn-success mb-3">Cadastrar Nomad</button>
        </form>
      </div>
    </div>
  </div>
</section>
