.layout-container {
  display: flex;
  height: 90vh;
  overflow: hidden;
}

.mapa {
  flex: 1;
  overflow: hidden;
  position: sticky;
  top: 3rem;
  height: 82vh;
  background-color: #f8f9fa;
}

.conteudo {
  flex: 1;
  overflow-y: auto;
  height: 82vh;
  background-color: #ffffff;
}

.cariri {
  fill: #becf5050;
  cursor: pointer;
}

.centroSul {
  fill: #ff73df50;
  cursor: pointer;
}

.grandeFortaleza {
  fill: #33a02c50;
  cursor: pointer;
}

.litoralLeste {
  fill: #e7beff50;
  cursor: pointer;
}

.litoralNorte {
  fill: #d3ffbe50;
  cursor: pointer;
}

.valeCuru {
  fill: #77695550;
  cursor: pointer;
}

.baturite {
  fill: #5d745150;
  cursor: pointer;
}

.ibiapaba {
  fill: #c43c3950;
  cursor: pointer;
}

.sertaoCentral {
  fill: #ffff0050;
  cursor: pointer;
}

.sertaoCaninde {
  fill: #7d8b8f50;
  cursor: pointer;
}

.sertaoSobral {
  fill: #8d5a9950;
  cursor: pointer;
}

.sertaoCrateus {
  fill: #72dfff50;
  cursor: pointer;
}

.inhamus {
  fill: #fcc4b350;
  cursor: pointer;
}

.valeJaguaribe {
  fill: #ffaa0050;
  cursor: pointer;
}

.cariri:hover {
  fill: #becf50;
  cursor: pointer;
  transition: fill 0.3s;
}

.centroSul:hover {
  fill: #ff73df;
  cursor: pointer;
  transition: fill 0.3s;
}

.grandeFortaleza:hover {
  fill: #33a02c;
  cursor: pointer;
  transition: fill 0.3s;
}

.litoralLeste:hover {
  fill: #e7beff;
  cursor: pointer;
  transition: fill 0.3s;
}

.litoralNorte:hover {
  fill: #d3ffbe;
  cursor: pointer;
  transition: fill 0.3s;
}

.valeCuru:hover {
  fill: #776955;
  cursor: pointer;
  transition: fill 0.3s;
}

.baturite:hover {
  fill: #5d7451;
  cursor: pointer;
  transition: fill 0.3s;
}

.ibiapaba:hover {
  fill: #c43c39;
  cursor: pointer;
  transition: fill 0.3s;
}

.sertaoCentral:hover {
  fill: #ffff00;
  cursor: pointer;
  transition: fill 0.3s;
}

.sertaoCaninde:hover {
  fill: #7d8b8f;
  cursor: pointer;
  transition: fill 0.3s;
}

.sertaoSobral:hover {
  fill: #8d5a99;
  cursor: pointer;
  transition: fill 0.3s;
}

.sertaoCrateus:hover {
  fill: #72dfff;
  cursor: pointer;
  transition: fill 0.3s;
}

.inhamus:hover {
  fill: #fcc4b3;
  cursor: pointer;
  transition: fill 0.3s;
}

.valeJaguaribe:hover {
  fill: #ffaa00;
  cursor: pointer;
  transition: fill 0.3s;
}



.accordion-button {
  background-color: #f2f2f2;
  color: #333;
}
.accordion-button:not(.collapsed) {
  background-color: #ddd;
}

.informes_estado {
  text-align: justify;
}

/* Responsivo: empilha no mobile */
@media (max-width: 767.98px) {
  .layout-container {
    flex-direction: column;
    height: auto;
  }

  .mapa, .conteudo {
    position: static;
    height: auto;
    overflow: visible;
  }
}
