<app-header></app-header>
<section id="forms">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-12">
        <p class="mb-3 mt-3">
          Os municípios que possuem interesse em participar do projeto Nômades Digitais do Ceará e ter suas informações
          divulgadas no site podem realizar a sua inscrição clicando no ícone abaixo.
        </p>
        <a href="https://drive.google.com/drive/folders/1IOGnuHK6SSF86FR1j4jjwIg0HLJhU5wy?usp=sharing" target="_blank">Manual municípios</a><br>
        <figure class="figure">
          <img src="../../assets/imgs/extras/regiao_ceara.png" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-end">Ceará e suas regiões</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-12">
        <h3 class="mb-3 mt-3 tex-center">Cadastro do Municípios</h3>
        <form #municipio="ngForm" (ngSubmit)="submitCity(municipio)">
          <fieldset>
            <legend>
              Dados do Município
            </legend>
            <div class="row">
              <div class="col-sm-6 col-12 mb-3">
                <label for="cidade" class="form-label">Nome da Cidade</label>
                <input list="datalistCidade" class="form-control" id="cidade" placeholder="Digite o nome da Cidade"
                  name="cidade" ngModel required #cidade="ngModel" (blur)="(localizaregiao(cidade.value, municipio))">
                  <datalist id="datalistCidade">
                    <!--<option value="default">----</option>-->
                  <option *ngFor="let city of lista_municipio" value="{{city.nome_municipio}}">{{city.nome_municipio}}</option>
                </datalist>
                <div *ngIf="!cidade.valid && cidade.touched" class="alert alert-danger" role="alert">Cidade é obrigatório</div>
              </div>
              <div class="col-sm-6 col-12 mb-3">
                <label for="regiao" class="form-label">Região de Planejamento</label>
                <input class="form-control" type="text" id="regiao" placeholder="Informe a sua região"
                  name="regiao" ngModel required #regiao="ngModel" readonly>

                <div *ngIf="!regiao.valid && regiao.touched" class="alert alert-danger" role="alert">Região é
                  obrigatório</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12 mb-3">
                <label for="email_prefeitura" class="form-label">Email de contato</label>
                <input type="email" class="form-control" id="email_prefeitura" aria-describedby="emailHelp"
                  placeholder="Insira um email válido!" name="email_prefeitura" ngModel required email #email_prefeitura="ngModel">
                <div id="emailHelp" *ngIf="email_prefeitura.untouched" class="form-text">Não compartilhe email com terceiros.</div>
                <div *ngIf="!email_prefeitura.valid && email_prefeitura.touched" class="alert alert-danger" role="alert">Email inválido</div>
              </div>
              <div class="col-sm-6 col-12 mb-3">
                <label for="contato_prefeitura" class="form-label">Telefone de contato</label>
                <input type="text" class="form-control" id="contato_prefeitura" placeholder="(XX) x xxxx xxxx"
                  name="contato_prefeitura" ngModel required #contato_prefeitura="ngModel">
                <div *ngIf="!contato_prefeitura.valid && contato_prefeitura.touched" class="alert alert-danger"
                  role="alert">Contato é obrigatório</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="link_prefeitura" class="form-label">Link para mais informações (site da prefeitura ou de ponto
                turístico).</label>
              <input type="text" class="form-control" id="link_prefeitura" aria-describedby="linkHelp"
                placeholder="Digite o link de informações da Cidade" name="link_prefeitura" ngModel required
                #link_prefeitura="ngModel">
              <div *ngIf="!link_prefeitura.valid && link_prefeitura.touched" class="alert alert-danger" role="alert">Se
                não houver, favor escrever "não possui".</div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Histórico da Cidade</legend>
            <div class="form-group mb-3">
              <label for="historia_cidade">História da Cidade (ano de criação, origem do nome, pessoas históricas, entre
                outros).</label>
              <textarea class="form-control" id="historia_cidade" rows="5" name="historia_cidade" ngModel required
                #historia_cidade="ngModel"></textarea>
              <div *ngIf="!historia_cidade.valid && historia_cidade.touched" class="alert alert-danger" role="alert">Por favor, fale
                mais de sua Cidade!!!</div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Serviços Ofertados</legend>
            <label for="wifi_service">Possui wifi gratuito em pontos públicos do município?</label>
            <div class="form-check">
              <input class="form-check-input" [(ngModel)]="service_wifi" type="radio" name="wifi_service" id="wifi_sim" value="sim">
              <label class="form-check-label" for="wifi_sim" ngModel #wifi_service="ngModel">
                Sim
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" [(ngModel)]="service_wifi" type="radio" name="wifi_service" id="wifi_nao" value="nao">
              <label class="form-check-label" for="wifi_nao" ngModel #wifi_service="ngModel">
                Não
              </label>
            </div>
            <div *ngIf="service_wifi == 'sim'" class="form-group mb-3">
              <label  for="wifi_cidade" >Quais locais? (nomes de praças, bairros, etc).</label>
              <textarea class="form-control" id="wifi_cidade" rows="3" name="wifi_cidade" ngModel required
                #wifi_cidade="ngModel"></textarea>
              <div *ngIf="!wifi_cidade.valid && wifi_cidade.touched" class="alert alert-danger" role="alert">Informe os
                locais de wifi</div>
            </div>

            <div class="form-group mb-3">
              <label for="service_estrangeiro">Quais são os serviços ofertados para turistas e/ou estrangeiros?</label>
              <textarea class="form-control" id="service_estrangeiro" rows="3" name="service_estrangeiro" ngModel required
                #service_estrangeiro="ngModel"></textarea>
              <div *ngIf="!service_estrangeiro.valid && service_estrangeiro.touched" class="alert alert-danger"
                role="alert">Se não houver favor escrever "Não ofertamos esse serviço".</div>
            </div>

            <div class="form-group mb-3">
              <label for="service_cidade">Se houver serviços, onde são ofertados (endereços)?</label>
              <textarea class="form-control" id="service_cidade" rows="3" name="service_cidade" ngModel required
                #service_cidade="ngModel"></textarea>
              <div *ngIf="!service_cidade.valid && service_cidade.touched" class="alert alert-danger" role="alert">
                Informe os serviços</div>

            </div>
            <div class="form-group mb-3">
              <label for="service_empresario">Quais são os serviços oferecidos para empresários? (apoio ao empresário,
                emissão de notas, entre outros).</label>
              <textarea class="form-control" id="service_empresario" rows="3" name="service_empresario" ngModel required
                #service_empresario="ngModel"></textarea>
              <div *ngIf="!service_empresario.valid && service_empresario.touched" class="alert alert-danger"
                role="alert">Se não houver favor escrever "Não ofertamos esse serviço".</div>
            </div>
            <div class="form-group mb-3">
              <label for="service_seguranca">Quais são as medidas de segurança pública do município? (vigilância,
                endereço de postos policiais, entre outros).</label>
              <textarea class="form-control" id="service_seguranca" rows="3" name="service_seguranca" ngModel required
                #service_seguranca="ngModel"></textarea>
              <div *ngIf="!service_seguranca.valid && service_seguranca.touched" class="alert alert-danger"
                role="alert">Informe os serviços de segurança</div>
            </div>
          </fieldset>
          <fieldset>
            <legend>Pontos Turísticos</legend>
            <div class="form-group mb-3">
              <label for="pontos_turisticos">Principais pontos turísticos da cidade (Cite e descreva os pontos
                turísticos).</label>
              <textarea class="form-control" id="pontos_turisticos" rows="5" name="pontos_turisticos" ngModel required
                #pontos_turisticos="ngModel"></textarea>
              <div *ngIf="!pontos_turisticos.valid && pontos_turisticos.touched" class="alert alert-danger"
                role="alert">Informe os pontos turísticos</div>
            </div>
            <div class="form-group mb-3">
              <label for="espacos_culturais">Se possuir espaços culturais, cite-os abaixo.</label>
              <textarea class="form-control" id="espacos_culturais" rows="5" name="espacos_culturais" ngModel required
                #espacos_culturais="ngModel"></textarea>
              <div *ngIf="!espacos_culturais.valid && espacos_culturais.touched" class="alert alert-danger" role="alert">Se não houver favor escrever "Não possuimos espaço cultural".</div>
            </div>
            <div class="form-group mb-3">
              <label for="espacos_lazer">Espaços de lazer (praças públicas, parques de diversão, espaços para crianças,
                bibliotecas, entre outros).</label>
              <textarea class="form-control" id="espacos_lazer" rows="5" name="espacos_lazer" ngModel required
                #espacos_lazer="ngModel"></textarea>
              <div *ngIf="!espacos_lazer.valid && espacos_lazer.touched" class="alert alert-danger" role="alert">Informe os espaços de
                lazer.</div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-12 mb-3">
                <label for="tipo_turismo">Qual o tipo de turismo predominante da cidade?</label>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="praia" id="praia" name="tipo_turismo" ngModel  #tipo_turismo="ngModel">
                  <label class="form-check-label" for="praia">
                    Praia
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="serra" id="serra" name="tipo_turismo" ngModel #tipo_turismo="ngModel">
                  <label class="form-check-label" for="serra">
                    Serra
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="religioso" id="religioso" name="tipo_turismo"
                    ngModel #turismo="ngModel">
                  <label class="form-check-label" for="religioso">
                    Religioso
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="sertão" id="sertão" name="tipo_turismo" ngModel #turismo="ngModel">
                  <label class="form-check-label" for="sertão">
                    Sertão
                  </label>
                </div>
              </div>
              <div class="col-sm-6 col-12 mb-3">
                <label for="rota">A cidade faz parte de alguma rota turística ?</label>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="rota_turistica" type="radio" name="rota" id="rota_sim" value="sim" name="rota" ngModel #rota="ngModel">
                  <label class="form-check-label" for="rota_sim">
                    Sim
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="rota_turistica" type="radio" name="rota" id="rota_nao" value="nao" name="rota" ngModel #rota="ngModel">
                  <label class="form-check-label" for="rota_nao">
                    Não
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="rota_turistica == 'sim'" class="form-group mb-3">
              <label for="qual_rota">Caso a resposta anterior seja sim, a qual rota faz parte?</label>
              <textarea class="form-control" id="qual_rota" rows="3" name="qual_rota" ngModel #qual_rota="ngModel"></textarea>
            </div>
          </fieldset>
          <fieldset>
            <legend>Anexos</legend>
            <div class="mb-3">
              <label for="formFileMultiple" class="form-label">Fotos dos pontos turísticos da cidade, dos centros
                culturais e espaços de lazer (Resolução mínima 1920x1080)</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary mb-3" [disabled]="!municipio.valid">Cadastrar Município</button>
        </form>
      </div>
    </div>
  </div>
</section>
