/*#forms{
  background-image: url("../../assets/imgs/extras/estado_ceara.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 56px;
}*/

#forms {
  margin-top: 100px;
}
.pergunta{
  font-weight: bold;
}
legend{
  font-weight: bold;
  text-decoration: underline;
}
h3{
  font-weight: bolder;
}
