<section>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
        aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
        aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
        aria-label="Slide 8"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/imgs/extras/conexoes.png" class="d-block w-100 imagem-carousel img-fluid" alt="...">
        <div class="carousel-caption h-70 d-md-block">
          <div class="legenda">
            <h5>Um dos principais Hubs de Cabos Submarinos de Fibra Óptica do mundo!</h5>
            <p>A <span>Capital Fortaleza</span> possui 16 cabos</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/extras/datacenter-6255978c7f9bc.jpg" class="d-block w-100 imagem-carousel img-fluid"
          alt="...">
        <div class="carousel-caption h-70 d-md-block">
          <div class="legenda">
            <p>O Ceará possui 12 dos 150 <span>data centers de colocation</span> do Brasil</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/extras/fibra-optica-destaque.jpg" class="d-block w-100 imagem-carousel img-fluid" alt="...">
        <div class="carousel-caption h-70 d-md-block">
          <div class="legenda">
            <h5><span>+140.000 km de cobertura</span> com acesso banda larga em parceria com provedores locais conectando 100% dos municípios cearenses</h5>
            <p>2ª maior velocidade média de conexão do nordeste!</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/extras/Cidade conectada.jpg" class="d-block w-100 imagem-carousel img-fluid" alt="...">
        <div class="carousel-caption h-70 d-md-block">
          <div class="legenda">
            <p><span>Programa Ceará Conectado:</span> Fortalecimento do Hub Tecnológico do Ceará por meio de internet gratuita de qualidade em espaços públicos nos 184 municípios do Estado.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/extras/Fibra-optica.jpg" class="d-block w-100 imagem-carousel img-fluid" alt="...">
        <div class="carousel-caption h-70 d-md-block">
          <div class="legenda">
            <h5>O Ceará é o estado com maior percentual de municípios com mais de <span>75% das conexões</span> feitas via fibra óptica.</h5>
          <p>São 110 dos 184 municípios cearenses.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/extras/Localizacao_estrategica.png" class="d-block w-100 imagem-carousel img-fluid" alt="...">
        <div class="carousel-caption h-70 d-md-block">
          <div class="legenda">
            <p>O Ceará possui uma localização geográfica privilegiada</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/_MVS6417.JPG" class="d-block w-100 imagem-carousel img-fluid" alt="...">
        <div class="carousel-caption h-70 d-md-block">
          <div class="legenda">
            <h5>O Ceará é o 2º Estado com maior crescimento do Turismo:</h5>
          <p>4,8% de crescimento em volume de atividades turísticas, em 2019</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/extras/Hub_Aereo.png" class="d-block w-100 imagem-carousel img-fluid" alt="...">
        <div class="carousel-caption h-70 d-md-block">
          <div class="legenda">
            <h5>Um dos principais Hubs de Cabos Submarinos de Fibra Óptica do mundo!</h5>
            <p>Hub aéreo cearense: Gol, Air France, KLM, TAP, LATAM, Azul e <span>Fraport</span>.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
