<!--Section Data Centers-->
<section id="cta" class="cta">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-lg-start legenda">
        <h3>Data Centers</h3>
        <h4>O Ceará possui 12 dos 150 data centers de colocation do Brasil</h4>
      </div>
    </div>
  </div>
</section>
<!--End Section Data Centers-->
<!--Section HUB-->
<section id="hub" class="hub">
  <div class="container-fuild">
    <div class="row justify-content-center">
      <div class="col-lg-7 d-flex video-box align-items-center">
        <video autoplay muted loop>
          <source src="../../assets/midia/videos/animação_cabos.mp4" type="video/mp4">
        </video>
        <!--<a data-fancybox href="../../assets/midia/videos/animação_mapa.mp4" class="play-btn mb-4"></a>

        <img src="../../assets/midia/imgs/Localizacao_estrategica.png" alt="Localização">-->
      </div>
      <div class="col-xl-5 col-lg-5 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>Vanguarda Tecnológica</h3>
        <p>O <span>Ceará</span> vem se consolidando como porta de entrada brasileira para os grandes cabos submarinos internacionais de fibra ótica, transmissores de dados.</p>

        <div class="icon-box">
          <div class="icon"><i class="bi bi-hdd-network-fill"></i></div>
          <h4 class="title"><a href="">HUBS</a></h4>
          <div class="description">
            <p>Um dos principais Hubs de Cabos Submarinos de Fibra Óptica do mundo!<br>A <span>Capital Fortaleza</span> possui 16 cabos</p>
          </div>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bi bi-geo-alt-fill"></i></div>
          <h4 class="title"><a href="">Localização</a></h4>
          <p class="description">O Ceará possui uma localização geográfica privilegiada</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!--End Section HUB-->

<!--Section Fiber-->
<section id="fiber" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative">
    <h3>2ª maior velocidade média de conexão do nordeste!</h3>
    <h4><span>+140.000 km de cobertura</span> com acesso banda larga em parceria com provedores locais conectando 100% dos municípios cearenses
    </h4>
  </div>
</section>

<!--End Section Fiber-->

<!--Section Locate-->
<section id="hub" class="hub">
  <div class="container-fuild">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-5 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>Vantagens de investir no Ceará</h3>
        <p>Veja os principais motivos para acreditar que a <span>Terra da Luz</span> tem grande potencial e capacidade.</p>

        <div class="icon-box">
          <div class="icon"><i class="bi bi-compass-fill"></i></div>
          <h4 class="title"><a href="">Hub Portuário</a></h4>
          <div class="description">
            <p>O Porto do Pecém, situado a 60 km de Fortaleza é o terminal portuário brasileiro de menor tempo de trânsito – sete dias, em média, entre o Brasil e alguns importantes oss EUA e países europeus.</p>
          </div>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bi bi-airplane-fill"></i></div>
          <h4 class="title"><a href="">Hub Aéreo</a></h4>
          <p class="description">O estado do Ceará trabalha para adequar o modal de transporte aéreo à demanda crescente; tornar Fortaleza um importante hub aéreo de conexões nacionais e internacionais e consolidar o Ceará como destino turístico nacional e internacional.</p>
        </div>
      </div>
      <div class="col-lg-7 d-flex video-box align-items-center">
        <video autoplay muted loop>
          <source src="../../assets/midia/videos/animação_mapa.mp4" type="video/mp4">
        </video>
        <!--<a data-fancybox href="../../assets/midia/videos/animação_mapa.mp4" class="play-btn mb-4"></a>

        <img src="../../assets/midia/imgs/Localizacao_estrategica.png" alt="Localização">-->
      </div>
    </div>
  </div>
</section>
<!--End Section Locate-->

<!--Section SmartCity-->
<section id="smartCity" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative">
    <h3>Programa Ceará Conectado: Internet gratuita de qualidade nos espaços públicos em 100% dos municípios do Estado.</h3>
    <h4>O Ceará é o estado com maior percentual de municípios com mais de <span>75% das conexões</span> feitas via fibra óptica. São 110 dos 184 municípios cearenses.</h4>
  </div>
</section>
<!--End Section SmartCity-->

<!--Section meetCeara-->
<section id="meetCeara" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative">
    <h3>4,8% de crescimento em volume de atividades turísticas, em 2019</h3>
    <h4>O Ceará é o 2º Estado com maior crescimento do Turismo:</h4>
  </div>
</section>
<!--End Section meetCeara-->

