<section id="cta" class="cta">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-lg-start legenda">
        <h3>Data Centers</h3>
        <p>O Ceará possui 12 dos 150 data centers de colocation do Brasil</p>
      </div>
    </div>
  </div>
</section><!-- End Cta Section -->

<section id="hub" class="hub">
  <div class="container-fuild">
    <div class="row justify-content-center">
      <div class="col-lg-6 d-flex video-box align-items-center">
        <a href="../../assets/midia/videos/animação_mapa.mp4" class="glightbox play-btn mb-4"></a>
        <!--<video src="../../assets/midia/videos/animação_mapa.mp4" class="play-btn mb-4"></video>
        <img src="../../assets/midia/imgs/Localizacao_estrategica.png" alt="Localização">-->
      </div>
      <div class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>Vantagens de investir no Ceará</h3>
        <p>Veja os principais motivos para acreditar que a <span>Terra da Luz</span> tem grande potencial e capacidade.</p>

        <div class="icon-box">
          <div class="icon"><i class="bi bi-hdd-network-fill"></i></div>
          <h4 class="title"><a href="">HUBS</a></h4>
          <div class="description">
            <p>Um dos principais Hubs de Cabos Submarinos de Fibra Óptica do mundo!<br>A <span>Capital Fortaleza</span> possui 16 cabos</p>
          </div>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bi bi-geo-alt-fill"></i></div>
          <h4 class="title"><a href="">Localização</a></h4>
          <p class="description">O Ceará possui uma localização geográfica privilegiada</p>
        </div>

      </div>
    </div>
  </div>
</section>
