<!-- <section class="container-fluid" id="o_que_e">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-12 card card_manual mb-5 manual">
        <div class="card-body">
          <h4 class="text-center border border-5 fade_project animate fadeIn">Comunidade Cearense de Nomandismo Digital</h4>
          <figure class="figure mt-3 fade_right_2 animate fadeRight">
                <img src="../../assets/midia/imgs/10030671.jpg" class="figure-img img-fluid rounded"
                  alt="Arte de um Nõmade Digital">

              </figure>
          <p class="mb-3 mt-3 fade_right_2 animate fadeRight">Em vez de apenas começar o dia, imagine a revigorante
            sensação de aproveitar a praia sob o sol da manhã, com a areia macia entre os dedos e o som relaxante das
            ondas, antes de mergulhar nas suas tarefas. Ou, para os aventureiros de coração, que tal iniciar uma trilha
            desafiante pelas paisagens deslumbrantes do Ceará, explorando a flora e a fauna local, e coroar o fim do dia
            com um merecido e refrescante banho em uma das nossas muitas cachoeiras cristalinas? O Ceará oferece
            experiências inesquecíveis para todos os gostos. Venha descobrir e se encantar com as belezas naturais, a
            rica cultura e a hospitalidade que só o nosso estado pode oferecer!</p>
        </div>
      </div>
      <div class="col-sm-3 col-12 mb-5 mt-5 card card_manual_2 manual fade_project animate fadeIn">
  <div class="card text-center border border-3" style="border-color: #008c73; border-radius: 10px;">
    <div class="card-body cadastro" style="border: 2px dashed #fcc31d; border-radius: 8px; padding: 1.5rem;">
      <h4 class="card-title pb-2">Inscrição</h4>
      <p class="card-text">
        Faça o seu <strong>registro</strong> e acompanhe nossas comunidades digitais.
      </p>
      <ul class="vantagens">
        <li>
          <span>
            <i class="bi bi-people-fill"></i> Acesso à comunidade
          </span>
        </li>
      </ul>
      <a routerLink="/cadastro_nomad" class="btn btn-warning">Cadastre-se</a>
    </div>
  </div>
</div>

    </div>
  </div>
</section> -->


<div class="hero-container">
    <img src="../../assets/midia/imgs/nomads_ceara.png" alt="Explore o Ceará - Digital Nômads" class="hero-img">
    <div class="hero-overlay">
      <a routerLink="/cadastro_nomad" class="btn btn-cadastrar mt-3 px-4 py-2">Cadastre-se</a>
    </div>
  </div>
