#o_que_e{
  height: 40rem;
  background: url("../../assets/midia/imgs/praia_do_futuro_sabiaguaba.jpg") top center;
  background-size: cover;
  position: relative;
}

#o_que_e:before {
  content: "";
  background: rgba(233, 232, 238, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.manual p{
  margin-left: 25px;
  margin-right: 25px;
  text-align: justify;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.8;
}

.card_manual{
  background: rgba(251, 251, 251, 0);
  /*height: 115px;*/
  margin-top: 100px !important;
  border: none;
}

.card_manual h4 {
  font-size: clamp(1.50em, 1.8em, 3.1em);
  /*font-size: 45px;*/
  padding: 15px 90px;
  font-weight: bold;
}

.card_manual p {
  font-size: clamp(1.20em, 1.4em, 1.8em);
  /*font-size: 45px;*/
  padding: 15px 90px;
}

.card_manual_2{
  background: rgba(251, 251, 251, 0);
  border: none;
  margin-top: 100px !important;
}

.card_manual_2 p {
  font-size: 16px;
}

.vantagens {
  list-style-type: none;
}

.fade_project{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fade_right_1{
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.fade_right_2{
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.fade_right_3{
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeRight{
  from{
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeRight{
  from{
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeRight {
  -webkit-animation-name: fadeRight;
  animation-name: fadeRight;
}

