<section class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="q1 col-12">
        <p>A pandemia acelerou o crescimento do número de trabalhadores remotos, mostrando que é possível trabalhar de qualquer lugar, basta possuir internet de qualidade. Nos últimos anos, além de ser um excelente local de turismo, o Ceará tem se destacado no setor de TIC, então porque não turistar nas melhores praias do nordeste e trabalhar com internet de qualidade em qualquer município? Aproveite para conhecer a Terra da Luz!
        </p>
      </div>
    </div>
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
      <div class="col-lg-6">
        <img class="img-fluid" src="../../assets/imgs/extras/Copia_de_Nomades_4.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-success p-2 text-center h-100 projetc">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Praia</h4>
              <p class="mb-0 text-white-50">Por que não aproveitar a praia antes de começar o seu trabalho ou fazer uma trilha e terminar o seu dia com um bom banho de cachoeira? Venha conhecer as belezas do Ceará!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-0 justify-content-center mb-5">
      <div class="col-lg-6">
        <img class="img-fluid" src="../../assets/imgs/Imagens 03-05/190409_CACHOEIRA_MISSAO_VELHA_NIU_2780 (1).JPG" alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-secondary p-2 text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Cachoeira</h4>
              <p class="mb-0 text-white-50">
                Aproveite e estenda as suas férias no Ceará! Aprecie as maravilhas que os municípios do Ceará tem a oferecer, para isso conte com os nossos parceiros para proporcionar o melhor em sua estadia no estado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
