<section class="container-fluid" id="o_que_e">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-12 card card_manual mb-5 manual">
        <div class="card-body">
          <h4 class="text-center border border-5 fade_project animate fadeIn">Comunidade Cearense de Nomandismo Digital</h4>
          <p class="mb-3 mt-3 fade_right_2 animate fadeRight">Por que não aproveitar a praia antes de começar o seu trabalho ou fazer uma trilha e terminar o seu dia com um bom banho de cachoeira? Venha conhecer as belezas do Ceará!</p>
        </div>
      </div>
      <div class="col-sm-3 col-12 mb-5 mt-5 card card_manual_2 manual">
        <div class="card border-light text-center">
          <div class="card-body cadastro">
            <h4 class="card-title pb-2">Inscrição</h4>
            <p class="card-text pt-3">Faça o seu <strong>registro</strong> e acompanhe nossas comunidades digitais.</p>
            <ul class="vantagens">
              <li>
                <span>
                  <i class="bi bi-people-fill"></i> Acesso à comunidade
              </span>
              </li>
            </ul>
            <a routerLink="/cadastro_nomad" class="btn btn-warning">Cadastre-se</a>
          </div>
        </div>
          <!--<p class="mb-3 text-white fade_right_1 animate fadeRight">A pandemia acelerou o crescimento do número de trabalhadores remotos, mostrando que é possível trabalhar de qualquer lugar, basta possuir internet de qualidade. Nos últimos anos, além de ser um excelente local de turismo, o Ceará tem se destacado no setor de TIC, então porque não turistar nas melhores praias do nordeste e trabalhar com internet de qualidade em qualquer município? Aproveite para conhecer a Terra da Luz!</p>
          <p class="mb-3 mt-3 text-white fade_right_2 animate fadeRight">Por que não aproveitar a praia antes de começar o seu trabalho ou fazer uma trilha e terminar o seu dia com um bom banho de cachoeira? Venha conhecer as belezas do Ceará!</p>
          <p class="mb-3 mt-3 text-white fade_right_3 animate fadeRight">Aproveite e estenda as suas férias no Ceará! Aprecie as maravilhas que os municípios do Ceará tem a oferecer, para isso conte com os nossos parceiros para proporcionar o melhor em sua estadia no estado.</p>-->
      </div>
    </div>
  </div>
</section>
