.ondeFicar-section {
  background: url("../../../assets/midia/imgs/background_04.jpg") no-repeat center center/cover;
  padding: 6rem 2rem 4rem 2rem;
  min-height: 80vh;
  margin: 0 auto;
}

.ondeFicar-title {
  font-size: 3.5rem;
  color: #009688;
  margin-bottom: 2rem;
  position: relative;
  padding-top: 2.5rem;
  font-weight: bold;
  font-family: 'AristotelicaDemiBold', 'Poppins', 'Montserrat';
}

.ondeFicar-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 4px;
  background: #fbc02d;
}

/* CARD */
.ondeFicar-card {
  background: #fff;
  padding: 2rem 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ondeFicar-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
}

/* ÍCONE */
.ondeFicar-icon {
  /* background: #ff1744; */
  width: 15rem;
  height: 140px;
  margin: 0 auto 1rem;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ondeFicar-icon img {
  width: 70%;
  height: auto;
  border-radius: 2rem;
  object-fit: contain;
}

/* TEXTO */
.ondeFicar-card h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
  color: #000;
}

.ondeFicar-btn {
  display: inline-block;
  background: #009688;
  color: #fff;
  font-weight: bold;
  padding: 0.7rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  transition: background 0.3s ease;
  cursor: pointer;
}

.ondeFicar-btn:hover {
  background: #FBC02D;
}

/* ANIMAÇÃO ENTRADA */
.animate-card {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.8s ease forwards;
}

.animate-card:nth-child(1) { animation-delay: 0.2s; }
.animate-card:nth-child(2) { animation-delay: 0.4s; }
.animate-card:nth-child(3) { animation-delay: 0.6s; }
.animate-card:nth-child(4) { animation-delay: 0.8s; }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVIDADE */
@media (max-width: 1200px) {
  .ondeFicar-title { font-size: 3rem; }
  .ondeFicar-icon { width: 13rem; height: 120px; }
  .ondeFicar-icon img { width: 70%; }
}

@media (max-width: 992px) {
  .ondeFicar-title { font-size: 2.5rem; }
  .ondeFicar-icon { width: 15rem; height: 110px; }
  .ondeFicar-icon img { width: 70%; }
}

@media (max-width: 768px) {
  .ondeFicar-title { font-size: 2rem; }
  .ondeFicar-icon { width: 12rem; height: 100px; }
  .ondeFicar-icon img { width: 75%; }
}

@media (max-width: 576px) {
  .ondeFicar-title { font-size: 1.8rem; }
  .ondeFicar-icon { width: 10rem; height: 90px; }
  .ondeFicar-icon img { width: 80%; }
}
