<section class="ondeFicar-section">
  <div class="container text-center">
    <h1 class="ondeFicar-title text-uppercase">Hospedagem</h1>

    <div class="row justify-content-center mt-5">
      <!-- Card 1 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="ondeFicar-card">
          <div class="ondeFicar-icon">
            <img src="../../../assets/midia/imgs/hotel.png" alt="Hotel">
          </div>
          <h3 class="text-uppercase">Hotéis</h3>
          <a routerLink="/ondeficar/hospedagem" class="ondeFicar-btn">Saiba mais</a>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="ondeFicar-card">
          <div class="ondeFicar-icon">
            <img src="../../../assets/midia/imgs/pousada.png" alt="Pousada">
          </div>
          <h3 class="text-uppercase">Pousadas</h3>
          <a routerLink="/ondeficar/hospedagem" class="ondeFicar-btn">Saiba mais</a>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="ondeFicar-card">
          <div class="ondeFicar-icon">
            <img src="../../../assets/midia/imgs/hostel.png" alt="Hostel">
          </div>
          <h3 class="text-uppercase">Hostels</h3>
          <a routerLink="/ondeficar/hospedagem" class="ondeFicar-btn">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ondeFicar-section-inc">

</section>

